<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 <mapper namespace="com.reccopedia.collection.dao.CollectionDAO">
 
 
 	<insert id="addCashCollection" parameterType="int">
 		INSERT INTO `cash_collection`
 		(
			`userId`
			, `createdAt`
			, `updatedAt`
 		)
		VALUES
		(	
			#{userId}
			, NOW()
			, NOW()
		)
 	</insert>
 
 	<insert id="addCollection" parameterType="map">
 		INSERT INTO `collection`
 		(
			`userId`
			, `content`
			, `subject`
			, `createdAt`
			, `updatedAt`
 		)
		VALUES
		(	
			#{userId}
			, #{content}
			, #{subject}
			, NOW()
			, NOW()
		)
 	</insert>
 	
 	<insert id="addCollectionContent" parameterType="map">
 		INSERT INTO `collection_content`
 		(
			`apiId`
			, `type`
			, `pointId`
			, `userId`
			, `collectionId`
			, `title`
			, `poster_path`
			, `createdAt`
			, `updatedAt`
 		)
		VALUES
		(	
			#{apiId}
			, #{type}
			, #{pointId}
			, #{userId}
			, #{collectionId}
			, #{title}
			, #{posterPath}
			, NOW()
			, NOW()
		)
 	</insert>
 	
 	<select id="selectCollectionListByUserId" parameterType="int" resultType="com.reccopedia.collection.model.Collection">
 		SELECT 
 			`id`
			, `userId`
			, `content`
			, `subject`
			, `createdAt`
			, `updatedAt`
		FROM
			`collection`
		WHERE
			`userId` = #{userId}
 	</select>
 	
 	<select id="selectCollectionSubjectContent" resultType="map">
 		SELECT 
 			`id`
			, `userId`
			, `content`
			, `subject`
			, `createdAt`
			, `updatedAt`
		FROM
			`collection`
		WHERE
			`id` = #{id}
 	</select>
 	
 	<update id="updateCollection" parameterType="map">
 		UPDATE `collection`
 		SET
 			`userId` = #{userId}
 			, `content` = #{content}
 			, `subject` = #{subject}
 			, `updatedAt` = NOW()
 		WHERE
 			`id` = #{id}
 			AND `userId` = #{userId}
 	</update>
 	
 	<update id="updateCollectionContent" parameterType="map">
 		UPDATE `collection_content`
 		SET
 			`apiId` = #{apiId}
			, `pointId` = #{pointId}
			, `userId` = #{userId}
			, `collectionId` = #{collectionId}
			, `title` = #{title}
			, `poster_path` = #{posterPath}
 			, `updatedAt` = NOW()
 		WHERE
 			`id` = #{id}
 			AND `userId` = #{userId}
 	</update>
 	
 	<select id="selectCollectionContentList" resultType="com.reccopedia.collection.model.CollectionContent">
 		SELECT 
 			`id`
			, `apiId`
			, `pointId`
			, `userId`
			, `collectionId`
			, `title`
			, `poster_path` AS `posterPath`
			, `createdAt`
			, `updatedAt`
		FROM
			`collection_content`
 	</select>
 	
 	<select id="selectCollectionContentByCollectionId" resultType="com.reccopedia.collection.model.CollectionContent">
 		SELECT 
 			`id`
			, `apiId`
			, `pointId`
			, `userId`
			, `collectionId`
			, `title`
			, `poster_path` AS `posterPath`
			, `createdAt`
			, `updatedAt`
		FROM
			`collection_content`
		WHERE
			`collectionId` = #{id}
 	</select>
 	
 	<select id="selectCollectionContent" resultType="com.reccopedia.collection.model.CollectionContent">
 		SELECT 
 			`id`
			, `apiId`
			, `pointId`
			, `userId`
			, `collectionId`
			, `title`
			, `poster_path` AS `posterPath`
			, `createdAt`
			, `updatedAt`
		FROM
			`collection_content`
		WHERE
			`collectionId` = #{id}
 	</select>
 	
 	<select id="selectCollectionContentByIdAndUserId" resultType="com.reccopedia.collection.model.CollectionContent">
 		SELECT 
 			`id`
			, `userId`
			, `content`
			, `subject`
			, `createdAt`
			, `updatedAt`
		FROM
			`collection`
 	</select>
 	
 	<select id="selectCollectionMapByUserId" parameterType="int" resultType="map">
 		SELECT 
 			`id`
			, `userId`
			, `content`
			, `subject`
			, `createdAt`
			, `updatedAt`
		FROM
			`collection`
		WHERE
			`userId` = #{userId}
 	</select>
 	
 	<select id="selectCollectionByIdAndUserId" parameterType="map" resultType="com.reccopedia.collection.model.Collection">
 		SELECT 
 			`id`
			, `userId`
			, `content`
			, `subject`
			, `createdAt`
			, `updatedAt`
		FROM
			`collection`
		WHERE
			`userId` = #{userId}
			AND
			`id = #{id}
 	</select>
 	
 	<delete id="deleteCollectionContentByIdUserId" parameterType="int">
 		DELETE
 		FROM
 			`collection_content`
 		WHERE
 			`id` = #{id}
 	</delete>
 	
 	<delete id="deleteCollectionByUserIdApiId" parameterType="int">
 		DELETE
 		FROM
 			`collection`
 		WHERE
 			`id` = #{id}
 	</delete>
 	
 	<select id="selectCollectionId"  resultType="int">
 		SELECT 
 			`id`
		FROM
			`collection`
		ORDER BY `id` DESC
		LIMIT 1;
 	</select>
 	
 	<select id="selectCurrentCollectionId" parameterType="int" resultType="int">
 		SELECT 
 			`id`
		FROM
			`collection`
		WHERE
			`id` = #{id}
 	</select>
 	
 </mapper>