<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 <mapper namespace="com.reccopedia.comment.dao.CommentDAO">
 
 	<insert id="createComment" parameterType="map">
 		INSERT INTO `comment`
 		(
 			`apiId`
			, `pointId`
			, `userId`
			, `content`
			, `createdAt`
			, `updatedAt`
 		)
 		VALUES
 		(
 			#{apiId}
 			, #{pointId}
 			, #{userId}
 			, #{content}
 			, NOW()
 			, NOW()
 		)
 	</insert>
 	
 	<select id="getCommentByUserIdApiId" parameterType="map" resultType="com.reccopedia.comment.model.Comment">
 		SELECT
 			`id`
			, `apiId`
			, `pointId`
			, `userId`
			, `content`
			, `createdAt`
			, `updatedAt`
		FROM
			`comment`
		WHERE
			`apiId` = #{apiId}
			AND
			`userId` = #{userId}
 	</select>
 	
 	<delete id="deleteCommentByUserIdApiId" parameterType="map">
 		DELETE
 		FROM
 			`comment`
 		WHERE
 			`apiId` = #{apiId}
 			AND
 			`userId` = #{userId}
 	</delete>
 
 </mapper>