<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 <mapper namespace="com.reccopedia.comment.dao.CommentDAO">
 
 	<insert id="createComment" parameterType="map">
 		INSERT INTO `comment`
 		(
 			`apiId`
			, `pointId`
			, `userId`
			, `content`
			, `createdAt`
			, `updatedAt`
 		)
 		VALUES
 		(
 			#{id}
 			, #{pointId}
 			, #{userId}
 			, #{content}
 			, NOW()
 			, NOW()
 		)
 	</insert>
 	
 	<select id="selectCommentListByApiId" parameterType="int" resultType="com.reccopedia.comment.model.Comment">
 		SELECT
 			`id`
			, `apiId`
			, `pointId`
			, `userId`
			, `content`
			, `createdAt`
			, `updatedAt`
		FROM
			`comment`
		WHERE
			`apiId` = #{id}
 	</select>
 	
 	<select id="selectCommentListByUserId" parameterType="int" resultType="com.reccopedia.comment.model.Comment">
 		SELECT
 			`id`
			, `apiId`
			, `pointId`
			, `userId`
			, `content`
			, `createdAt`
			, `updatedAt`
		FROM
			`comment`
		WHERE
			`userId` = #{id}
 	</select>
 	
 	<select id="selectCommentListByApiIdAndUserId" parameterType="map" resultType="com.reccopedia.comment.model.Comment">
 		SELECT
 			`id`
			, `apiId`
			, `pointId`
			, `userId`
			, `content`
			, `createdAt`
			, `updatedAt`
		FROM
			`comment`
		WHERE
			`apiId` = #{id}
			AND
			`userId` = #{userId}
		ORDER BY `updatedAt` DESC
		LIMIT 1;
 	</select>
 	
 	<delete id="deleteCommentByUserIdApiId" parameterType="int">
 		DELETE
 		FROM
 			`comment`
 		WHERE
 			`id` = #{id}
 	</delete>
 	
 	<update id="updateComment" parameterType="map">
 		UPDATE `comment`
 		SET
 			`id` = #{id}
 			, `userId` = #{userId}
 			, `content` = #{content}
 			, `updatedAt` = NOW()
 		WHERE
 			`id` = #{id}
 			AND `userId` = #{userId}
 	</update>
 
 </mapper>