<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 <mapper namespace="com.reccopedia.point.dao.PointDAO">
 	<insert id="insertPoint" parameterType="com.reccopedia.point.model.Point">
 		INSERT INTO `point`
 		(
 			point
			, apiId
			, userId
			, createdAt
			, updatedAt
 		)
 		VALUES
 		(
	 		#{point}
	 		, #{apiId}
	 		, #{userId} 
	 		, NOW()
	 		, NOW()
 		)
 	</insert>
 	
 </mapper>