<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 <mapper namespace="com.reccopedia.point.dao.PointDAO">
 	<insert id="insertPoint" parameterType="map">
 		INSERT INTO `point`
 		(
 			point
			, apiId
			, userId
			, title
			, poster_path
			, createdAt
			, updatedAt
 		)
 		VALUES
 		(
	 		#{point}
	 		, #{apiId}
	 		, #{userId} 
	 		, #{title}
	 		, #{posterPath}
	 		, NOW()
	 		, NOW()
 		)
 	</insert>
 	
 	<select id="selectPointByApiIdOrUserId" parameterType="map" resultType="int">
		SELECT
			COUNT(1)
		FROM
			`point`
		WHERE
			`apiId` = #{apiId}
			<if test="userId != null">
			AND `userId` = #{userId}
			</if>
	</select>
	
	<select id="selectPointCount" resultType="int">
		SELECT
			COUNT(1)
		FROM
			`point`
	</select>
	
	<select id="selectPointListByApiIdOrUserId" parameterType="int" resultType="map">
		SELECT
			`id`
			, `apiId`
			, `userId`
			, `point`
			, `title`
			, `poster_path` AS `posterPath`
			, `createdAt`
			, `updatedAt`
		FROM
			`point`
		WHERE
			`userId` = #{userId}
	</select>
	
	<select id="selectPointListByApiIdAndUserId" parameterType="int" resultType="map">
		SELECT
			`id`
			, `apiId`
			, `userId`
			, `point`
			, `title`
			, `poster_path` AS `posterPath`
			, `createdAt`
			, `updatedAt`
		FROM
			`point`
		WHERE
			`userId` = #{userId}
	</select>
	
	
	<select id="selectPointByApiId" parameterType="int" resultType="com.reccopedia.point.model.Point">
		SELECT
			`id`
			, `apiId`
			, `userId`
			, `point`
			, `createdAt`
			, `updatedAt`
		FROM
			`point`
		WHERE
			`apiId` = #{apiId}
			<if test="userId != null">
			AND `userId` = #{userId}
			</if>
	</select>
	
	<select id="selectPointByApiIdAndUserId" parameterType="map" resultType="com.reccopedia.point.model.Point">
		SELECT
			 `point`
		FROM
			`point`
		WHERE
			`apiId` = #{apiId}
			AND `userId` = #{userId}
	</select>
	
	<select id="selectPointCountListByApiIdAndUserId" parameterType="map" resultType="com.reccopedia.point.model.Point">
		SELECT
			 `point`
		FROM
			`point`
		WHERE
			`apiId` = #{apiId}
			AND `userId` = #{userId}
		ORDER BY `updatedAt`
		LIMIT 1
	</select>
	
	<delete id="deletePointByApiIdUserId" parameterType="map">
		DELETE
		FROM
			`point`
		WHERE
			`apiId` = #{apiId}
			AND `userId` = #{userId}
	</delete>
	
	<delete id="deletePointByApiId" parameterType="int">
		DELETE
		FROM
			`point`
		WHERE
			`apiId` = #{apiId}
	</delete>
 	
 	
 </mapper>