<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.reccopedia.user.dao.UserDAO">

	<select id="existEmail" parameterType="String" resultType="int">
		SELECT
			COUNT(1)
		FROM
			`user`
		WHERE
			`email` = #{email}
	</select>

	<insert id="insertUser" parameterType="map">
		INSERT INTO `user`
			(
				`name`
				, `info`
				, `email`
				, `password`
				, `backgroundImagePath`
				, `profileImagePath`
				, `createdAt`
				, `updatedAt`
			)
		VALUES
			(
				#{name}
				, #{info}
				, #{email}
				, #{password}
				, #{backgroundImagePath}
				, #{profileImagePath}
				, NOW()
				, NOW()
			)
	</insert>
	
	<select id="getUserByLoginEmailPassword" parameterType="map" resultType="com.reccopedia.user.model.User">
		SELECT 
			`id`
			, `name`
			, `info`
			, `email`
			, `password`
			, `backgroundImagePath`
			, `profileImagePath`
			, `createdAt`
			, `updatedAt`
		FROM 
			`user`
		WHERE
			`email` = #{email}
			AND
			`password`= #{password}
	</select>

</mapper> 	