<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.reccopedia.user.userDAO.UserDAO">

	<select id="insertUser" parameterType="map" resultType="com.reccopedia.user.model.User">
		INSERT INTO `user`
			(
				`name`
				`info`
				`email`
				`password`
				`backgroundImagePath`
				`profileImagePath`
				`createdAt`
				`updatedAt`
			)
		VALUES
			(
				#{name}
				, #{info}
				, #{email}
				, #{password}
				, #{backgroundImagePath}
				, #{profileImagePath}
				, NOW()
				, NOW()
			)
	</select>

</mapper> 	