<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 <mapper namespace="com.reccopedia.watching.dao.WatchingDAO">
 
 	<select id="selectWatchingByApiIdOrUserId" parameterType="map" resultType="int">
		SELECT
			COUNT(1)
		FROM
			`watching`
		WHERE
			`apiId` = #{apiId}
			<if test="userId != null">
			AND `userId` = #{userId}
			</if>
	</select>

	<insert id="insertWatching" parameterType="map">
		INSERT INTO `watching`
 		(
 			`apiId`
 			, `userId`
			, `createdAt`
			, `updatedAt`
 		)
 		VALUES
 		(
 			#{apiId}
 			, #{userId}
 			, now()
 			, now()
 		)
	</insert>
	
	<delete id="deleteWatchingByApiIdUserId" parameterType="map">
		DELETE
		FROM
			`watching`
		WHERE
			`apiId` = #{apiId}
			AND `userId` = #{userId}
	</delete>
	
	<delete id="deleteWatchingByApiId" parameterType="int">
		DELETE
		FROM
			`watching`
		WHERE
			`apiId` = #{apiId}
	</delete>
 
 </mapper>