<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 <mapper namespace="com.reccopedia.watching.dao.WatchingDAO">
 
 	<select id="selectWatchingByApiIdOrUserId" parameterType="map" resultType="int">
		SELECT
			COUNT(1)
		FROM
			`watching`
		WHERE
			`apiId` = #{apiId}
			AND `type` = #{type}
			<if test="userId != null">
			AND `userId` = #{userId}
			</if>
	</select>
	
	<select id="selectWatchingListByApiIdOrUserId" parameterType="int" resultType="com.reccopedia.watching.model.Watching">
		SELECT
			`id`
			, `type`
			, `apiId`
			, `userId`
			, `title`
			, `poster_path` AS `posterPath`
			, `createdAt`
			, `updatedAt`
		FROM
			`watching`
		WHERE
			`userId` = #{userId}
	</select>
	
	<select id="selectWatchingObjListByApiIdOrUserId" parameterType="int" resultType="com.reccopedia.watching.model.Watching">
		SELECT
			`id`
			, `type`
			, `apiId`
			, `userId`
			, `title`
			, `poster_path` AS `posterPath`
			, `createdAt`
			, `updatedAt`
		FROM
			`watching`
		WHERE
			`userId` = #{userId}
			AND `type` = #{type}
	</select>

	<insert id="insertWatching" parameterType="map">
		INSERT INTO `watching`
 		(
 			`apiId`
 			, `type`
 			, `userId`
			, `title`
			, `poster_path`
			, `createdAt`
			, `updatedAt`
 		)
 		VALUES
 		(
 			#{apiId}
 			, #{type}
 			, #{userId}
			, #{title}
			, #{posterPath}
 			, now()
 			, now()
 		)
	</insert>
	
	<delete id="deleteWatchingByApiIdUserId" parameterType="map">
		DELETE
		FROM
			`watching`
		WHERE
			`apiId` = #{apiId}
			AND `userId` = #{userId}
			AND `type` = #{type}
	</delete>
	
	<delete id="deleteWatchingByApiId" parameterType="int">
		DELETE
		FROM
			`watching`
		WHERE
			`apiId` = #{apiId}
			AND `type` = #{type}
	</delete>
 
 </mapper>